.flexy {

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	@media #{$medium} {
		position: absolute;
	}
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	overflow: auto;
	-webkit-overflow-scrolling: touch;

	& > .flexy__header {

	}

	& > .flexy__body {
	-webkit-box-flex: 1;
	    -webkit-flex: 1;
	        -ms-flex: 1;
	            flex: 1;
	}

	& > .flexy__footer {
	}
}



// Flexy-helpers

.flexy-u--flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flexy-u--center {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}
