// Size
$button-default-size: 40px;
$button-default-font-size: 16px;

$button-large-size: 60px;
$button-large-font-size: 22px;

// Default
$circle-default-color: #fff;
$circle-default-color-active: #000;

// Secondary
$circle-secondary-color: #B3B3B3;
$circle-secondary-color-active: #fff;

.circle-button {
	display: inline-block;
	text-align: center;
	border: 1px solid $circle-default-color;
	font-size: $button-default-font-size;

	color: $circle-default-color;
	border-radius: 999px;
	width: $button-default-size;
	height: $button-default-size;
	line-height: $button-default-size;
	margin: 0 5px;


	&:hover,
	&:active,
	&:hover:hover,
	&:focus {
		background-color: $circle-default-color;
		color: $circle-default-color-active;
	}


	&.circle-button--secondary {
		color: darken($circle-secondary-color, 15%);
		border-color: $circle-secondary-color;

		&:hover,
		&:active,
		&:hover:hover,
		&:focus {
			background-color: $circle-secondary-color;
			color: $circle-secondary-color-active;
		}
	}

	&.circle-button--invert {
		color: $circle-default-color-active;
		border-color: $circle-default-color;
		background-color: $circle-default-color;

		&:hover,
		&:active,
		&:hover:hover,
		&:focus {
			background-color: transparent;
			color: $circle-default-color;
			border-color: $circle-default-color;
		}
	}
}


// Size
.circle-button--large {
	width: $button-large-size;
	height: $button-large-size;
	line-height: $button-large-size;
	margin: 0 10px;
	font-size: $button-large-font-size;
}

.circle-button--dim {
	opacity: .3;
	transition: opacity .1s ease-in-out;

	&:hover {
		opacity: 1;
	}
}
