$story-bg-color: #fff;
$story-lead-font-size: rem-calc(17);

.story {
	// background-color: $story-bg-color;


	.story__lead {
		-webkit-font-smoothing: antialiased;
		font-size: $story-lead-font-size;

		  @media #{$medium-up} {
		    -webkit-column-count: 2;
			   -moz-column-count: 2;
				    column-count: 2;
		    -webkit-column-gap: 50px;
		       -moz-column-gap: 50px;
		            column-gap: 50px;
		  }

		  & p {
		  	font-size: inherit;
		  }
	}

	.story__lead--dim {
		color: #fff;
		opacity: .3;
	}
}
