$video-bg-default-bg-color: #000;

// Fullscreen video bg
.video-bg {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 0;
	
	background-color: $video-bg-default-bg-color;
	
	@media #{$medium} {
		height: 100vh;
	}

	@media #{$small-only} {
		background-image: url('../images/still1.jpg');
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-position: 50% 50%;
	}

	video {
		visibility:hidden !important;
		
		@media #{$medium-up} {
			visibility: visible !important;
		}			
	}
}
